.product {
  // max-width: 18.75rem;
  // height: 31.85rem;
  border: 1px solid #95a0a7;
  border-radius: 8px;
  display: grid;

  .img-container {
    padding: 0.2rem;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .product-caption {
    display: grid;
    gap: 1.2rem;
    padding: 0.8rem;
  }

  .product-caption-fchild > * + * {
    margin-top: 0.4rem;
  }

  .product-caption-lchild {
    color: #2a414f;
    font-size: 14px;
    align-self: end;
    & > * + * {
      margin-top: 0.2rem;
    }
  }
  h6 {
    color: #0e161a;
    font-weight: 400;
    font-size: 21px;
  }
  .price {
    font-size: 17px;
    color: #0e161a;
  }
  .add-to-cart-btn {
    width: 100%;
    color: #0e161a;
    font-size: 15px;
    text-align: center;
    background-color: #ffe0b3;
    border: none;
    border-top: 1px solid #95a0a7;
    border-radius: 0px 0px 8px 8px;
    padding: 0.75rem;
    align-self: end;

    &:hover {
      background-color: #f8c67b;
    }
  }
}
